<html>
    
</body>
    <head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="homepage.css">
<!-- Latest compiled and minified JavaScript -->
        
        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hello! </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
       
      
         <li><a href="#">Log in</a></li>
        <li><a href="new_user">New Account</a></li>
        <li><a href="todos">List</a></li>
         
         
          
        
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
        
    
      <ul class="nav navbar-nav navbar-right">
  
        <li class="dropdown">
          
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        
        
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>        
        
<link rel="stylesheet" type="text/css" href="name.css">
</head>
<div class="logobg">
    <img src="http://i59.tinypic.com/2vxhpmx.png" width="700" height="400" class="logo">
      
  </div>


    
        <h3 class= "listify">  Listify is the perfect web application for a busy family or forgetful people. Not only does Listify keep all your lists organized but is good for the environment as it avoids the use of paper. Whether one needs to keep track of the food they need on their grocery list or how many pieces are needed for building their bike, Listify will enable easier way to do it. </h3> 
            
            
    <div class="checklist">
<img src="http://www.bankruptcysoapbox.com/wp-content/uploads/2014/06/sheikh_tuhin_To-Do_List-public-domain-e1401830415883.png" width="450" height="450" class="checklist">
</div>
</body>    
</html>

