
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


<link rel="stylesheet" href="mylist.css">

<div class="mylist">
    <img src="http://i57.tinypic.com/10ef2qa.png" width="650" height="300" class="logo">
</div>

<br><br><br><br><br><br>
<nav>
  <ul class="pager">
    <li class="previous disabled"><a href=""><span aria-hidden="true">&larr;</span> New List</a></li>
    <li class="next"><a href="home">Home <span aria-hidden="true">&rarr;</span></a></li>

  </ul>
</nav>