

<div class="newaccount">
    <img src="http://i61.tinypic.com/1zf0qxu.png" border="0" alt="Image and video hosting by TinyPic" width="650" height="300" class="logo">
</div>

<form action="/create_user">
  <div class="input-group"> 
    <label for="username">name</label><br />
    <input id="username" type="text" class="form-control" placeholder="username" aria-describedby="basic-addon1" name="username">
    
  </div>
  <div class="input-group">
    <label for="email">email</label><br />
    <input id="email" name="email" type="text" class="form-control" placeholder="e-mail" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <label for="password">password</label><br />
    <input id="password" name="password" type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1"/>
  </div>
  <div class="input-group">
    <label for="password_confirmation">password confirmation<br />
    <input id="password_confirmation" placeholder="password confirmation"name="password_confirmation" type="text" />
  </div>
  <div class="submit">
    <input type="submit">
  </div>
    
    <br><br><br><br><br><br>
<nav>
  <ul class="pager">
    <li class="previous disabled"><a href=""><span aria-hidden="true">&larr;</span> Login</a></li>
    <li class="next"><a href="home">New list<span aria-hidden="true">&rarr;</span></a></li>

  </ul>
</nav>
    
</form>


