
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


<link rel="stylesheet" href="mylist.css">

<div class="newlist">
    <img src="http://i62.tinypic.com/143pzc2.png" width="650" height="300" class="logo">
</div>


  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="New List">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Make</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->







<br><br><br><br><br><br>
<nav>
  <ul class="pager">
    <li class="previous disabled"><a href=""><span aria-hidden="true">&larr;</span> New Account</a></li>
    <li class="next"><a href="home">My Lists <span aria-hidden="true">&rarr;</span></a></li>

  </ul>
</nav>