<h1>Editing Todo #<%= @todo.id %></h1>

<form action="/todos/<%= @todo.id %>/update">
  <div>
    <label for="list_id">list_id</label><br />
    <input id="list_id" name="list_id" value="<%= @todo.list_id  %>" type="text" />
  </div>
  <div>
    <label for="reminder">reminder</label><br />
    <input id="reminder" name="reminder" value="<%= @todo.reminder  %>" type="text" />
  </div>

  <div>
    <input type="submit">
  </div>
</form>




