<h1>New Todo</h1>

<form action="/create_todo">
  <div>
    <label for="list_id">list_id</label><br />
    <input id="list_id" name="list_id" type="text" />
  </div>
  <div>
    <label for="reminder">reminder</label><br />
    <input id="reminder" name="reminder" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
  
  <a href="/todos">go back to my To-do List</a>
  
  
</form>

