.newaccount{
    text-align:center;
    background-color: white;
}

.input-group{
    margin-right: 550px;
    margin-left: 550px;
} 


.pager{
    margin-right: 200px;
    margin-left: 200px;
} 

.submit{
    margin-right: 550px;
    margin-left: 550px;
} 